body {
     background-image: url("../img/floresta.jpg");
}
.base{
	background-color: white;
	padding: 20px 10px 10px 10px;
	height: 320px;
	width: 300px;
	margin-top: 10%;
	margin-left: 40%;
    padding-top: 10px;
    border-radius: 5px;
}

.exit {
    color: #696969;
    background-color: #ADD8E6;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

.upper {
    float: left;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    background-color: white;
    border-radius: 5px;
}

.button{
	height: 35px;
	width: 35px;
	color: #696969;
	border: #696969;
	background-color: #ADD8E6;
}

.question{
	font-size: 20px;
	color: #696969;
}

.basesearch{
    background-color: white;
    padding: 20px;
    height: 100%;
    margin-right: 5%;
    margin-left: 5%;
}

.text{
	font-family: inherit;
	color: #696969;
    font-family: arial black;
}

.form{
	width:90%;
	height:auto;

}

.image{
	width: 20%;
	height: 20%;
}

