
@{
    ViewBag.IndexActive = "active";
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html>

<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">NPS Atual da Empresa</h4>
                            <p class="category">Relativo ao Mês passado</p>
                        </div>
                        <div class="content">
                            <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-success"></i> Promotores
                                    <i class="fa fa-circle text-danger"></i> Detratores
                                    <i class="fa fa-circle text-warning"></i> Neutros
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> 2 dias atrás
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>            
        </div>
    </div>

</body>

</html>