
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html:charset=utf-8">
    <title> NPS </title>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>


<body>
    <div class="base">
        <center>
            <img style="width:40%; height:40% " src="~/Content/img/sorriso2.png" />

            <div class="form">
                <div class="text">NPS</div>
                <form action="/Users/Login" method="post" charset="utf-8">
                    <div class="form-group">
                        <br />
                        <input type="email" id="email" name="email" value="" placeholder="E-mail" class="form-control" />
                        <br />
                        <input type="password" id="password" name="password" class="form-control" value="" placeholder="Senha" required charset="utf-8" />
                    </div>
                    <p>
                        <input type="submit" style="width:80%;background-color: #696969; color: white;outline: none;" value="Entrar" placeholder="" class="btn" charset="utf-8" />
                </form>
            </div>

        </center>

    </div>

</body>

</html>